@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --text-dark: #1a1a1a;
  --border-light: rgba(0, 0, 0, 0.1);
  --blue: #2563eb;
  --blue-hover: #1d4ed8;
  --input-border: #d1d5db;
  --slider-bg: rgba(37, 99, 235, 0.15);
  /* --card: #0e2134;
  --accent: #2563EB;
  --text: #E5E7EB;
  --muted: #9CA3AF;
  --border: #1F2937; */
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(-45deg, #1f2937, #111827, #0d0e12, #111827);
    --foreground: #e5e7eb;
    --card-bg: #1a1a1a;
    --text-dark: #f9fafb;
    --border-light: rgba(255, 255, 255, 0.2);
    --blue: #3b82f6;
    --blue-hover: #2563eb;
    --input-border: #374151;
    --slider-bg: rgba(59, 130, 246, 0.25);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
  /* margin: 0;
  padding: 0;
  min-height: 100vh; */
}

header {
  background: var(--card-bg);
  /* color: var(--foreground);   */
}

@media (prefers-color-scheme: dark) {
  header {
    background: var(--card-bg);
    /* color: var(--foreground); */
  }
}

button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--blue-hover);
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card {
  background: var(--card-bg);
  color: var(--text-dark);
  border: 1px solid var(--border-light);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  background: var(--slider-bg);
  color: white;
  transform: translateY(-5px);
}

.modal-card {
  background: var(--card-bg);
  color: var(--text-dark);
  border: 1px solid var(--border-light);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.delete-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-options-button {
  background-color: #6b7280;
  color: white;
  border: none;
  padding: 0.25rem 0.25rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

h1, h2 {
  color: var(--text-dark);
}

@media (prefers-color-scheme: dark) {
  h1, h2 {
    color: var(--text-dark);
  }
}

* {
  transition: background 0.3s ease, color 0.3s ease;
}