services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    restart: unless-stopped
    depends_on:
      - "nginx-proxy"
    volumes_from:
       - "nginx-proxy"
    volumes:
       - ./certs:/etc/nginx/certs:rw
       - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
        - DEFAULT_EMAIL=milen.thomas@mail.utoronto.ca
    networks:
      - proxy

  frontend:
    build: frontend
    image: frontend
    container_name: frontend
    restart: unless-stopped
    expose:
        - "3000"
    networks:
      - proxy
    environment:
      - VIRTUAL_HOST=CHANGETHIS
      - LETSENCRYPT_HOST=CHANGETHIS

  backend:
    build: backend
    image: backend
    container_name: backend
    restart: unless-stopped
    expose:
      - "8080"
    networks:
      - proxy

  db:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db:/data/postgres
    networks:
      - proxy

networks:
  proxy:
    driver: bridge

volumes:
  db:
        
